* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.main-container {
    width: 970px;
    background-color: #295D89;
    margin: auto;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 10px;
    gap: 10px;
}

.footer-links {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    justify-content: center;
    gap:20px;
}
.footer-links li {
    list-style: none;
    color: #5C92C1;
    font-size: 16px;
}

.footer-links li a {
    color:#5C92C1;
    text-decoration: none;
}

.copy-right {
    color: #5C92C1;
    font-size: 10px;

}

.body-container-wb {
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 5px 60px;
    gap: 10px;
}

.col  {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-top: 3px solid #72A7D5;
    padding: 0px 20px;
}

.col h4 {
    text-align: center;
    font-size: 14px;
    margin-bottom: 3px;

}

.col p {
    text-align: center;
    font-size: 12px;
    margin-bottom: 3px;

}

.col ul {
    font-size: 14px;
    padding-left: 52px;
}

.col ul li a {
    color: #A9C8E6;
    font-size: 13px;
    text-decoration: none;
}

.body-container {
    background-color: #235076;
    display: flex;
    flex-direction: row;
    padding: 10px 60px 20px 60px;
    gap: 10px;
}

.side-nav {
    flex: 5;
    /* display: flex; */
}
.nav-bullet{
    color: #E7C53C;
    margin-right: 10px;
    font-size: 8px;
}
.side-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.side-nav ul li {
    list-style: none;
    font-size: 14px;
}
.side-nav ul li a {
    color: white;
    /* text-decoration: none; */
}

.content {
    flex: 18;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.content .p1 {
    color: white;
    font-size: 12px;
    margin-bottom: 10px;
}

.content .span-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #E7C53C;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 5px;
}

.content .p2 {
    font-size: 12px;
    color: white;
}

.nav-bar-container {
    background-color: #235076;
    padding: 0px 60px 5px 60px;
    
}

.nav-bar-container .nav-bar {
    background-color: #457DAD;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.nav-bar-container .nav-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.nav-bar-container .nav-bar ul li{
    list-style: none;
}

.nav-bar-container .nav-bar ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.header {
    background-color:  #235076;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 20px;
    margin: 0px;
}

.header img {
    height: 70px;
    width: 274px;
}

.main-container .actions {
    color: white;
    font-size: 10px;
    margin-bottom: 5px;
    padding-left: 68px;
}

.actions .yellow-txt {
    color: #E7C53C;
    text-decoration: underline;
}

.actions .border-right {
    border-right: 1px solid black;
    padding-right: 4px;
    margin-right: 2px;

}

.main-container .search-area {
    background-color: #444444;
    width: 190px;
    height: 43px;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 20px;
    gap: 5px;
}

.search-area input {
    height: 23px;
    width: 117px;
    border-top: 1px solid #767676;
    border-left: 1px solid #767676;
    border-bottom: 1px solid white ;
    border-right: 1px solid white ;
}

.search-area button {
    height: 23px;
    width: 30px;
    border-top: 1px solid #DBE2E8;
    border-left: 1px solid #DBE2E8;
    border-bottom: 1px solid darkgrey ;
    border-right: 1px solid darkgrey ;
    background-color: #235076;
    color: white;
    font-size: 8px;
    border-radius: 6px;
}